@use '../../styles/utils';
@use '../../styles/typography';

$box-shadow-size: 88px;

.Button {
  position: relative;
  @include utils.adaptive-value('width', 272, 144);
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: utils.$c_white;
  box-shadow: 0 0 0 $box-shadow-size rgba($color: utils.$c_white, $alpha: 0);
  transition-property: box-shadow;
  transition-duration: utils.$anim-time;

  &:hover {
    box-shadow: 0 0 0 $box-shadow-size rgba($color: utils.$c_white, $alpha: 0.1);
  }

  &__Link {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    @extend %text-4;
    color: utils.$c_blue-900;
    text-transform: uppercase;
  }
}
