@use '../../styles/utils';

.DestinationPage {
  background-image: url(./assets/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include utils.onTablet {
    background-image: url(./assets/background-destination-tablet.jpg);
  }

  @include utils.onMobile {
    background-image: url(./assets/background-destination-mobile.jpg);
  }
}
