$max-width: 1440;
$min-width: 375;
$max-page-padding: 165;
$min-page-padding: 24;
$max-header-height: 136;
$min-header-height: 88;
$max-header-padding-inline: 64;
$max-page-padding-block: 48;
$min-page-padding-block: 24;

$max-mobile-width: 576px;
$max-tablet-width: 768px;

$anim-time: 300ms;

$c_white: #fff;
$c_gray: #97979740;
$c_blue-300: #D0D6F9;
$c_blue-900: #0B0D17;
